// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: helvetica;
}

h3 {
  font-family: helvetica;
  font-weight: lighter;
}

p {
  font-family: helvetica;
}

a {
  font-family: helvetica;
  font-size: 10px;
  text-decoration: none
}

input[type=text] {
  width: 30%;
  height: 30px;

}

input[value] {
  background-color: #337ab7;
  border-radius: 10%;
  outline: #337ab7;
  height: 40px;
  color: white;
}

.container {
  padding: 20px;
  margin: 30px;
  border-left: 20px, red, solid;
}
